page-login {
    .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .btnEntrar * {
        font-size: 8;
    }
    .btnEntrarFacebook * {
         font-size: 0.8em;
    }

     .btnEntrarGoogle * {
        font-size: 0.8em;
    }
}



